@model IEnumerable<Films.Genre>

@{
    ViewData["Title"] = "Жанри";
}

<h1>Жанри</h1>

<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descript)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idgenres">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Idgenres">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idgenres">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>



