@model IEnumerable<Films.FilmMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Знімальна група та каст</h1>

<p>
    <a asp-action="Create">Додати нового члена команди</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfilmNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdgenderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpostNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdfilmNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdgenderNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpostNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idfilmem">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Idfilmem">Подивитись деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Idfilmem">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
